/*******************************/
/********* General CSS *********/
/*******************************/
:root {
    --primary-color: #7cf03d;
    --background-color: #1f2f4d;
    --text-color: #ffffff;
}

body {
    color: #797979;
   
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #414141;
}

a {
    
    transition: .5s;
}

a:hover,
a:active,
a:focus {
    color: #7cf03d;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}


.container-fluid {
    max-width: 1366px;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #7cf03d;
    border: 2px solid #7cf03d !important;
    border-radius: 10px;
    box-shadow: 0 0  10px #7cf03d;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: #7cf03d;
    background: #7cf03d;
    box-shadow: 0 0  10px #7cf03d;
    border-color: #7cf03d;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   background: #1f2f4d;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #7cf03d;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top:hover i {
    color: #414141;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    animation: show-content .5s linear forwards;
    animation-delay: 1s;
}

@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.bg-light {
    background: #203252 !important;
}


.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    color:#7cf03d;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
   
}
.navbar-light .navbar-nav .nav-link {
    color:#ffffff !important;
}


.navbar-light .navbar-nav  .active {
        color: #7cf03d !important;
        
    }







.navbar-light .navbar-nav .nav-link:hover {
    color: #7cf03d !important; /* Keep hover effect */
    }


.navbar-light.nav-sticky .navbar-nav .nav-link:hover {
        color: #7cf03d !important; /* Ensure hover effect is applied */
        cursor: pointer;
    }
@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
       
        padding: 30px 60px;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
    }
    
    .navbar .navbar-brand {
        color: #ffffff;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #7cf03d;
    }
    
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 10px 8px 10px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        transition: color 0.3s ease; /* Smooth transition for hover effect */
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: #7cf03d !important; /* Keep hover effect */
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover {
        color: #7cf03d !important; /* Ensure hover effect is applied */
        cursor: pointer;
    }

    .navbar-light .navbar-nav .nav-link .active {
        color: #7cf03d !important; /* Active link color */
    }
}

@media (max-width: 991.98px) {   

    .navbar {
        padding: 15px;
       
        
    }
    
    .navbar .navbar-brand {
        color: #7cf03d;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a .nav-link {
        padding: 5px;
        cursor: pointer;
        color: #7cf03d; /* Add cursor pointer */
    }
    .navbar a .nav-link:hover {
        color: #7cf03d !important;
    }
   .navbar-light .navbar-nav .active{
        color: #7cf03d;
    }
    
    .navbar a .nav-link {
        padding: 5px;

    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 120px 0 0 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    animation: show-content .5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    to {
        visibility: visible;
        opacity: 1;
    }
}

.hero .container-fluid {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin: 0;
    height: auto;
    overflow: hidden;
}

.hero .hero-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
    margin-left: 5rem;
    border-radius: 50%;
}

.hero .hero-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.hero-image .img-box {
    width: 32vw;
    position: relative;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 15px;
}

.hero-image .img-box::before,
.hero-image .img-box::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, var(--primary-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.hero-image .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.hero-image .img-box .img-item {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: .5px solid var(--background-color);
}

.hero-image .img-box .img-item img {
    position: absolute;
    display: block;
    object-fit: contain;
    width: 90%;
    top: 30px;
}

.hero .hero-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text p {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .hero-text h1 {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.hero .hero-text .name-highlight {
    color: var(--primary-color);
}

.hero .hero-text .hero-subtitle {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero .hero-text .hero-description {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    margin-bottom: 30px;
}

.hero .hero-btn .btn {
    margin-top: 35px;
    color: var(--text-color);
    background: transparent;
    box-shadow: inset 0 0 0 0 var(--text-color);
    border-color: var(--text-color);
    border-radius: 10px;
    transition: .5s;
    padding: 12px 30px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

.hero .hero-btn .download {
    color: var(--text-color);
    background: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.hero .hero-btn .btn:hover {
    color: var(--text-color);
    background: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.hero .hero-btn .btn:first-child {
    margin-right: 15px;
}

@media (max-width: 991.98px) {
    .hero {
        padding-top: 60px;
        height: auto;
        overflow: hidden;
        margin: 0;
    }

    .hero .container-fluid {
        margin: 0 !important;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .hero .hero-content {
        padding: 0 15px;
        text-align: center;
        align-items: center;
    }

    .hero .hero-text p {
        font-size: 20px;
        color: var(--text-color);
    }

    .hero .hero-text h1 {
        font-size: 45px;
    }

    .hero .hero-text .hero-subtitle {
        font-size: 25px;
    }

    .hero .hero-text .hero-description {
        font-size: 16px;
    }

    .hero .hero-btn .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }

    .hero .hero-image {
        text-align: center;
        padding-right: 0;
        margin-left: 0;
        margin-top: 30px;
    }

    .hero-image .img-box {
        width: 60vw;
        height: 60vw;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
        margin: 0;
        height: auto;
        overflow: hidden;
    }

    .hero .container-fluid {
        margin: 0 !important;
    }

    .hero,
    .hero .hero-text,
    .hero .hero-btn {
        width: 100%;
        text-align: center;
    }

    .hero .hero-text p {
        font-size: 18px;
    }

    .hero .hero-text h1 {
        font-size: 35px;
    }

    .hero .hero-text .hero-subtitle {
        font-size: 22px;
    }

    .hero .hero-text .hero-description {
        font-size: 15px;
    }

    .hero .hero-btn .btn {
        padding: 10px 15px;
        letter-spacing: 1px;
    }

    .hero-image .img-box {
        width: 70vw;
        height: 70vw;
    }
}

@media (max-width: 575.98px) {
    .hero {
        height: auto;
        overflow: hidden;
        margin: 0;
    }

    .hero .container-fluid {
        margin: 0 !important;
    }

    .hero .hero-text p {
        font-size: 16px;
    }

    .hero .hero-text h1 {
        font-size: 30px;
    }

    .hero .hero-text .hero-subtitle {
        font-size: 18px;
    }

    .hero .hero-text .hero-description {
        font-size: 14px;
    }

    .hero .hero-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero .hero-btn .btn {
        padding: 8px 10px;
        letter-spacing: 0;
        width: 200px;
        margin: 5px 0;
    }

    .hero .hero-btn .btn:first-child {
        margin-right: 0;
    }

    .hero-image .img-box {
        width: 80vw;
        height: 80vw;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}



.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}

.about .col-lg-6 {
    padding: 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-content {
    padding: 0 60px;
}

.about .about-text p {
    font-size: 16px;
}

.about .skills {
    margin-bottom: 30px;
}

.about .skill-name {
    margin-top: 15px;
}

.about .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.about .skill-name p:last-child {
    float: right;
}

.about .progress {
    height: 10px;
    border-radius: 10px;
    background: #dddddd;
}

.about .progress .progress-bar {
    width: 0px;
    background: #EF233C;
    border-radius: 10px;
    transition: 2s;
}

.about .about-text a.btn {
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .about .about-content {
        padding: 45px 15px 0 15px;
    }
}


/*******************************/
/******* Experience CSS ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #EF233C;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #EF233C;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #EF233C;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after, 
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    height: auto;
    padding: 45px 0 15px 0;
    background-color: var(--background-color);
}

.service .container .row {
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: row;
}

.service .service-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}

.service .service-icon:hover {
    box-shadow: 0 0 20px rgba(124, 240, 61, 0.7);
}

.service .service-icon {
    position: relative;
    width: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    background: #ffffff;
    border-radius: 50%;
}

.service .service-icon i {
    position: relative;
    font-size: 60px;
    color: var(--primary-color);
    transition: .3s;
}

.service .service-item:hover i {
    font-size: 75px;
}

.service .service-icon img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.service .service-text {
    position: relative;
    width: calc(100% - 120px);
    padding: 0 30px;
    text-align: center;
}

.service .service-text .range {
    width: 100%;
    height: 4px;
    background-color: #414141;
    margin: 15px auto;
}

.service .text-center p {
    color: var(--text-color) !important;
}

.service .service-text h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
    color: var(--text-color) !important;
    text-transform: capitalize;
}

.service .service-text p {
    margin: 0;
    font-size: 16px;
    transition: 1s;
    color: var(--text-color) !important;
}

.service .service-item:hover .service-text h3,
.service .service-item:hover .service-text p {
    color: var(--primary-color) !important;
}

.category-title {
    color: var(--primary-color);
    margin: 40px 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.range-container {
    display: flex;
    gap: 10px;
    position: relative;
}

.range {
    position: relative;
    width: 100%;
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.range-fill {
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 5px 5px 0;
}

.skill-percentage {
    position: absolute;
    top: 8px;
    right: -50px;
    font-size: large;
    font-weight: bolder;
    color: var(--primary-color);
}

@media (max-width: 575.98px) {
    .service .service-text h3 {
        font-size: 16px;
        margin-bottom: 5px;
        text-align: center;
    }

    .service .service-text p {
        font-size: 14px;
        text-align: center;
    }

    .service .service-icon {
        text-align: center;
        width: 100px;
        min-height: 100px;
    }

    .service .service-item {
        margin-left: 20px;
        text-align: center;
        width: 100%;
    }

    .service-text .range {
        margin: 10px auto;
    }

    .service .service-icon i {
        font-size: 35px;
    }

    .skill-percentage {
        right: -40px;
        font-size: medium;
    }
}

/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #EF233C;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #EF233C;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}

.portfolio .portfolio-item {
    position: relative;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transform: scale(1.1);
    transition: .5s;
}

.portfolio .portfolio-item:hover img {
    margin-left: 15px;
}

.portfolio .portfolio-text {
    position: relative;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.portfolio .portfolio-text h3 {
    width: calc(100% - 70px);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio .portfolio-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}


/*******************************/
/********* Banner CSS **********/
/*******************************/
.banner {
    padding: 100px 0;
    background-color: #203252;
}

.banner h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #ffffff;
}

.banner h2 span {
    color: #7cf03d;
}

.banner-text {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.inner-text p {
    font-size: 18px;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 2rem;
}

.inner-text .btn {
    background-color: #7cf03d;
    color: #203252;
    border: 2px solid #7cf03d;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.inner-text .btn:hover {
    background-color: transparent;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(124, 240, 61, 0.4);
}

.img-boxs {
    text-align: center;

}
.img-boxs:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: #7cf03d 0 0 20px;
}

.img-boxs img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
    padding: 100px 0;
    background-color: #203252;
}

.project-container {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid rgba(124, 240, 61, 0.2);
    height: 100%;
}

.project-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-color);
}

.project-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-container h3 {
    color: var(--accent-color);
    margin-top: 1rem;
    font-weight: 600;
}

.project-container p {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 1rem;
}

.tag {
    background-color: rgba(124, 240, 61,0.3);
    color: #7cf03d;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
}

.btn-container .btn {
    background-color: transparent;
    color: #7cf03d;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.btn-container .btn:hover {
    background-color: #7cf03d;
    color: #ffffff;
    font-weight: bold;
}



/*******************************/
/********* Contact CSS *********/
/*******************************/



.contact {
    padding: 100px 0;
    background-color: #1f2f4d;
}

.contact h2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

.h2head {
    color: rgba(124, 240, 61, 0.5) !important;
    text-align: center;
    margin-bottom: 5px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 2rem;
}

.image-container {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #7cf03d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-container h4 {
    color:#7cf03d;
    margin-bottom: 0.5rem;
}

.email-container a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.email-container a:hover {
    color: #7cf03d;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid rgba(124, 240, 61, 0.2);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(124, 240, 61, 0.25);
}

.contact-form .btn {
    width: 100%;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: #ffffff;
    padding: 0.75rem;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.contact-form .btn:hover {
    background-color: #6bd832;
    border-color: #6bd832;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(124, 240, 61, 0.4);
}
.section-header p{
    background-color: #1f2f4d !important;
    color: #ffffff !important;
}
.h2head:hover{
    text-shadow: 0 0 10px #7cf03d;
}

/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog .blog-item {
    position: relative;
    margin-bottom: 30px;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.blog .blog-img img {
    width: 100%;
    transition: .5s;
}

.blog .blog-item:hover img {
    transform: scale(1.1);
}

.blog .blog-text {
    position: relative;
    padding: 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.blog .blog-text h2 {
    font-size: 25px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    margin-top: 10px;
    padding: 8px 15px;
}

.blog .blog-item a.btn i {
    margin-left: 5px;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 13px;
}

.blog .blog-meta i {
    color: #414141;
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    background: #EF233C;
}

.footer .container-fluid {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.footer .footer-info h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .footer-social {
    position: relative;
    margin-top: 15px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #414141;
}

.footer .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
    background: rgba(256, 256, 256, .2);
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #414141;
}

@media (max-width: 575.98px) {
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer .footer-menu p {
        font-size: 16px;
        line-height: 16px;
        padding: 0 5px;
    }
}

/* Global rule for all links */
a {
    cursor: pointer;
}

a:hover {
    color: #7cf03d;
}

.navbar-toggler-icon {
    background-color: #7cf03d;
    border-color: #7cf03d;
}

.navbar-light .navbar-toggler {
    border-color: #7cf03d;
}

/* Update within each media query */


@media (max-width: 575.98px) {
    .footer .footer-info h3:hover {
        color: #7cf03d;
    }
}
